{% extends 'base.html' %}
{% block title %}Adicionar roteiro{% endblock %}
{% block content %}
    <div class="container jumbotron col-lg-6 col-md-8 col-sm-12">
        <form method="post" class="form-text">
            {% from 'macro.html' import render_field, render_title_form %}
            {{ render_title_form(form.title_form) }}
            <div class="form-group">
                {{ render_field(form.tipo) }}
            </div>
            <div class="form-group">
                {{ render_field(form.tema) }}
            </div>
            <div class="form-group">
                {{ render_field(form.ambiente) }}
            </div>
            <div class="form-group">
                {{ render_field(form.acolhida) }}
            </div>
            <div class="form-group">
                {{ render_field(form.oracao_inicial) }}
            </div>
            <div class="form-group">
                {{ render_field(form.dinamica) }}
            </div>
            <div class="form-group">
                {{ render_field(form.motivacao) }}
            </div>
            <div class="form-group">
                {{ render_field(form.desenvolvimento) }}
            </div>
            <div class="form-group">
                {{ render_field(form.leituras) }}
            </div>
            <div class="form-group">
                {{ render_field(form.atividade) }}
            </div>
            <div class="form-group">
                {{ render_field(form.compromisso) }}
            </div>
            <div class="form-group">
                {{ render_field(form.avisos) }}
            </div>
            <div class="form-group">
                {{ render_field(form.oracao_final) }}
            </div>
            <div class="form-group">
                {{ render_field(form.observacoes) }}
            </div>
            <div class="form-group">
                {{ render_field(form.publico) }}
            </div>
            <div class="form-group text-center">
                {{ render_field(form.submit) }}
            </div>
        </form>
    </div>
{% endblock %}