<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Catequese Conectada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        ul.flashes {
            list-style-type:none
        }
    </style>
</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: dodgerblue">
    <h2>Catequese Conectada</h2>
    <nav class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="/">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile')}}">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout')}}">Sair</a>
            </li>
        </ul>
    </nav>

</header>

    {% with messages = get_flashed_messages(category_filter=['invalidos']) %}
      {% if messages %}
      <div class="alert alert-warning">
        <ul class="flashes list-unstyled">
        {% for message in messages %}
          <li><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=['erros']) %}
      {% if messages %}
      <div class="alert alert-danger">
        <ul class="flashes list-unstyled">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=['sucesso']) %}
      {% if messages %}
      <div class="alert alert-sucess">
        <ul class="flashes list-unstyled">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}

{% block content %}
{% endblock %}
<!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>